/**
Theme Name: Q1
Author: Softfobia
Author URI: https://www.softfobia.it
Description: Sito realizzato per PPM
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: q1
Template: astra
*/

@font-face {

	font-family: 'Graphik';
	src: url('/fonts/Graphik-Regular.woff2') format('woff2'),
       url('/fonts/Graphik-Regular.woff') format('woff'),
       url('/fonts/Graphik-Regular.ttf') format('truetype');
	font-style:normal;
	font-weight:normal;
}
@font-face {
	font-family: 'Graphik';
	src: url('/fonts/Graphik-RegularItalic.woff2') format('woff2'),
       url('/fonts/Graphik-RegularItalic.woff') format('woff'),
       url('/fonts/Graphik-RegularItalic.ttf') format('truetype');
	font-style:italic;
	font-weight:normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('/fonts/Graphik-Semibold.woff2') format('woff2'),
       url('/fonts/Graphik-Semibold.woff') format('woff'),
       url('/fonts/Graphik-Semibold.ttf') format('truetype');
font-weight:bold;
font-style:normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('/fonts/Graphik-SemiboldItalic.woff2') format('woff2'),
       url('/fonts/Graphik-SemiboldItalic.woff') format('woff'),
       url('/fonts/Graphik-SemiboldItalic.ttf') format('truetype');
	font-weight:bold;
	font-style:italic;
}
@font-face {
  font-family: 'Graphik Semibold';
  src: url('/fonts/Graphik-Semibold.woff2') format('woff2'),
       url('/fonts/Graphik-Semibold.woff') format('woff'),
       url('/fonts/Graphik-Semibold.ttf') format('truetype');
	font-style:normal;
}
@font-face {
  font-family: 'Graphik Semibold';
  src: url('/fonts/Graphik-SemiboldItalic.woff2') format('woff2'),
       url('/fonts/Graphik-SemiboldItalic.woff') format('woff'),
       url('/fonts/Graphik-SemiboldItalic.ttf') format('truetype');
	font-style:italic;
}


body *, .woocommerce .button, .woocommerce *{
	/*font-family:'Graphik'!important;*/
}
.woocommerce .button{
	text-transform: uppercase!important;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button{
	line-height:100%;
}
.woocommerce a{
	color:#000000;
}
.woocommerce-form-coupon-toggle {
    display: none;
}
.woocommerce-message::before, .woocommerce-info::before{
	color: #000000!important;
}
.woocommerce-cart table.cart td.actions .coupon{
	margin:0;
}
.woocommerce-page #content table.cart .button[name=apply_coupon] {
    padding: 15px 40px;
}
.woocommerce #content table.cart [name=coupon_code], .woocommerce-page #content table.cart [name=coupon_code] {
    max-height: 55px;
    height: 45px;
}
.woocommerce a.remove {
    font-size: 22px;
    text-align: center;
    line-height: 24px;
    padding: 0;
	border:0 none;
}
.woocommerce table.shop_table thead, 
.woocommerce-page table.shop_table thead,
.woocommerce-MyAccount-navigation-link.is-active a,
.woocommerce-cart .cart-collaterals .cart_totals>h2, 
.woocommerce-cart .cart-collaterals .cross-sells>h2,
.woocommerce-page.woocommerce-checkout .woocommerce-order h2.woocommerce-order-details__title,
.woocommerce-page.woocommerce-checkout .woocommerce-order h2.woocommerce-column__title{
    background-color: transparent!important;
	font-size:16px;
	font-weight:600;
}
.woocommerce-page.woocommerce-checkout .woocommerce-order h2.woocommerce-order-details__title, .woocommerce-page.woocommerce-checkout .woocommerce-order h2.woocommerce-column__title {
    border-width: 0 0 4px 0;
}

.woocommerce .woocommerce-customer-details address {
    border: 0 none;
}

.woocommerce-page.woocommerce-checkout .woocommerce-order table.shop_table th, .woocommerce-page.woocommerce-checkout .woocommerce-order table.shop_table td {
    border-right: 0 none;
}

.woocommerce-cart .cart-collaterals .cart_totals, .woocommerce-cart .cart-collaterals .cross-sells{
	border-width:0!important;
}

.woocommerce-cart .cart-collaterals .cart_totals>h2, .woocommerce-cart .cart-collaterals .cross-sells>h2 {
    margin: 0 0 20px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ebebeb;
	padding: 15px 12px;
}
.woocommerce .woocommerce-Addresses .woocommerce-Address-title, .woocommerce .woocommerce-Addresses .woocommerce-column__title, .woocommerce .woocommerce-MyAccount-content .woocommerce-Address-title, .woocommerce .woocommerce-MyAccount-content .woocommerce-column__title, .woocommerce .woocommerce-customer-details .woocommerce-Address-title, .woocommerce .woocommerce-customer-details .woocommerce-column__title, .woocommerce-account .woocommerce-Addresses .woocommerce-Address-title, .woocommerce-account .woocommerce-Addresses .woocommerce-column__title, .woocommerce-account .woocommerce-MyAccount-content .woocommerce-Address-title, .woocommerce-account .woocommerce-MyAccount-content .woocommerce-column__title, .woocommerce-account .woocommerce-customer-details .woocommerce-Address-title, .woocommerce-account .woocommerce-customer-details .woocommerce-column__title{
	background-color: #f2f2f2;
}
.woocommerce-billing-fields{
	margin-bottom:30px;
}
.woocommerce-page.woocommerce-checkout table.shop_table td, .woocommerce.woocommerce-checkout table.shop_table td{
	padding:10px;
}
.woocommerce-notice--success.woocommerce-thankyou-order-received {
    padding: 15px;
    text-align: center;
    font-size: 25px;
    color: #7FC13D;
}
.woocommerce form .form-row input.input-text {
    height: 38px;
}

.woocommerce-page.woocommerce-checkout #payment div.payment_box, .woocommerce.woocommerce-checkout #payment div.payment_box{
	background-color: #f2f2f2;
}
.woocommerce-page.woocommerce-checkout #payment div.payment_box:before, .woocommerce.woocommerce-checkout #payment div.payment_box:before {
    border-bottom-color: #f2f2f2;
}

.woocommerce-page.woocommerce-checkout #customer_details h3, .woocommerce.woocommerce-checkout #customer_details h3{
	border-bottom: 4px solid #F2F2F2!important;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message{
	border-top-width:4px;
}
.woocommerce-info, .woocommerce-message{
	border-top-color: #ffe000!important;
	background-color:#f2f2f2!important;
}

.woocommerce table.shop_table, .woocommerce-page table.shop_table {
    border: 0 none;
}

.woocommerce-cart table.shop_table .order-total .woocommerce-Price-amount, .woocommerce-checkout-review-order-table .order-total td .woocommerce-Price-amount, .woocommerce-table.woocommerce-table--order-details tfoot tr:last-child td span.woocommerce-Price-amount.amount {
    font-size: 30px;
	font-weight:800;
}

.elementor-2278 + .woocommerce-order{
    display: none;
}

/*.woocommerce table.shop_table tr:last-child td {
    padding: 10px 0;
}*/

.cart-collaterals tr td:last-child, .woocommerce-checkout-review-order-table tr td:last-child {
    text-align: right;
}

td.product-name a, .product-name {
    font-weight: 400;
    line-height: 120%;
}

a.shipping-calculator-button {
    font-weight: 400;
    font-size: 12px;
    text-decoration: underline;
}
.woocommerce-cart-form__cart-item td.product-price, .woocommerce-cart-form__contents thead th.product-price{
	display:none;	
}

.woocommerce table.shop_table.woocommerce-table--order-details tfoot th,
.woocommerce table.shop_table.woocommerce-table--order-details tfoot td,
.woocommerce table.shop_table.woocommerce-table--order-details tbody th,
.woocommerce table.shop_table.woocommerce-table--order-details tbody td {
	border-top:0 none;
	padding: 2px 1em!important;
}
.woocommerce table.shop_table.woocommerce-table--order-details tfoot tr:last-child th,
.woocommerce table.shop_table.woocommerce-table--order-details tfoot tr:last-child td{
	border-top:1px solid #ddd;
}
td.product-name i{
	display:block;
	color:#555;
	font-style:normal;
	font-size:11px;
	text-transform:uppercase;
	padding:5px 0;
}
.woocommerce td small.tax_label {
    display: block;
}

.woocommerce-cart .cart-collaterals .cart_totals {
    padding: 0;
}
a.continue-shopping.button {
	text-transform:uppercase;
	font-weight:bold;
	padding: 10px 25px;
    background: #f2f2f2;
}

form.checkout_coupon.woocommerce-form-coupon p {
    display: none;
}

li.woocommerce-MyAccount-navigation-link {
    border: 0 none;
}
li.woocommerce-MyAccount-navigation-link.is-active{
	background:#f2f2f2;
}

.woocommerce-column h2.woocommerce-column__title, .woocommerce-Addresses header.woocommerce-Address-title.title {
    background: transparent!important;
    border: 0 none!important;
    border-bottom: 4px solid #f2f2f2!important;
    font-weight: 600;
	font-size:16px;
}
.woocommerce-Addresses header.woocommerce-Address-title.title h3{
	font-weight: 600;
	font-size:16px;
	color:#000;
	padding: 5px;
}
.woocommerce-Addresses header.woocommerce-Address-title.title a{
	font-weight: 300;
	font-size:12px;
	color:#777;
}

.woocommerce .woocommerce-Addresses address, .woocommerce .woocommerce-MyAccount-content address{
	border:0 none;
}

td.woocommerce-orders-table__cell-order-actions a.woocommerce-button.button.view {
    background: transparent;
    text-decoration: underline;
    display: block;
    text-align: center;
}

.woocommerce table.shop_table.woocommerce-MyAccount-orders td {
	border-right: 0 none;
}


.woocommerce table.shop_table.woocommerce-table--order-details{
	margin-bottom:40px;
}

.woocommerce table.shop_table.woocommerce-table--order-details tr th, .woocommerce table.shop_table.woocommerce-table--order-details tr td {
    border-right: 0 none!important;
}

.woocommerce table.shop_table.woocommerce-table--order-details  thead tr th{
	border-bottom:4px solid #f2f2f2;
}

td.woocommerce-orders-table__cell-order-number * {
    font-weight: 600;
	font-size: 16px;
}

.woocommerce-MyAccount-content p:first-child {
    font-size: 22px;
}

.woocommerce-MyAccount-navigation-link a {
    padding: 10px;
    border: 0 none;
	font-size:16px;
}

.woocommerce-MyAccount-content p.woocommerce-form-row {
    font-size: 14px;
}

.woocommerce-MyAccount-content p {
    font-size: 16px;
    font-weight: 300;
}

@media (min-width:1024px){
	.woocommerce-MyAccount-navigation>ul{
		border-right:4px solid #f2f2f2;
	}
	a.continue-shopping {
		position: absolute;
		right: 0;
		top: 0;
	}
	.woocommerce > .wc-cont {
		display: block;
		width: 100%;
	}
	.woocommerce > .wc-cont:after {
		display:block;
		height:0;
		clear:both;
		content:'';
	}
	.woocommerce form.woocommerce-cart-form {
		width: 60%;
		float: left;
	}
	.woocommerce .cart-collaterals {
		width: 40%!important;
		float: right;
		padding-left:2%;
	}
	.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{
		width:100%;
	}
	
	.woocommerce-page.woocommerce-checkout form #order_review_heading, .woocommerce.woocommerce-checkout form #order_review_heading, .woocommerce-page.woocommerce-checkout form #order_review, .woocommerce.woocommerce-checkout form #order_review{
		border-width: 0px 0px 0 4px;
		border-color:#F2F2F2;
	}
}









/* By Alessandro */

/* Scheda singolo prodotto */

.woocommerce span.onsale {
	background-color: #ffe000;
	color: #000000;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
	margin: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
	border: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before {
	background: transparent;
}

.woocommerce div.product form.cart .variations {
	border: none;
}

.woocommerce-variation-availability {
	display: none;
}

/* Tweak per i titoli in revolution slider */

.tp-caption a.slide-header {
	text-decoration: none;
}

.tp-caption a:hover.slide-header {
	text-decoration: underline;
}

.tp-caption a.slide-link {
	font-weight: normal !important;	
}

.tp-caption a:hover.slide-link {
	font-weight: bold !important;
}

.main-claim-slider{
    color:#000;
    text-decoration:none;
}
.main-claim-slider h2{
    margin:0;
    padding:0;
    color:#000;
    font-size:120px;
    line-height:110%;
}
.main-claim-slider h3{
    font-size:50px;
    line-height:110%;
}
.link-slide{
    font-weight: bold;
    text-decoration: underline;
}
.main-claim-slider{
    color:#000;
    text-decoration:none;
}
.sub-claim-slide p, .sub-claim-slide li, .sub-claim-slide p b, .sub-claim-slide p a{
    display: block;
    font-size: 25px;
    line-height: 110%;
    margin: 0 0 10px;
    padding: 0;
}
.sub-claim-slide .link-slide{
    font-weight: bold;
    text-decoration: underline;
}
.sub-claim-slide ul{
    padding: 0 0 0 15px;
    margin: 0 0 20px;
}
.sub-claim-slide li{
    list-style: disc!important;
    margin-left: 15px;
    display: list-item;
}
.sub-claim-slide small{
    font-size: 20px;
    font-weight: bold;
}
@media (max-width:1120px){
    .main-claim-slider h2{
        font-size: 110px;
    }
    .main-claim-slider h3{
        font-size:35px;
    }
    .sub-claim-slide p, .sub-claim-slide li, .sub-claim-slide p b, .sub-claim-slide p a{
        margin-bottom: 7px;
        font-size: 22px;
    }
    .sub-claim-slide small{
        font-size: 16px;
    }
}
@media (max-width:991px){
    .main-claim-slider h2{
        font-size: 80px;
    }
    .main-claim-slider h3{
        font-size:30px;
    }
    .sub-claim-slide p, .sub-claim-slide li, .sub-claim-slide p b, .sub-claim-slide p a{
        margin-bottom: 5px;
        font-size: 19px;
    }

    .sub-claim-slide small{
        font-size: 14px;
    }
}
@media (max-width:767px){
    .main-claim-slider h2{
        font-size: 60px;
    }
    .sub-claim-slide p, .sub-claim-slide p b, .sub-claim-slide p a{
        margin-bottom: 5px;
        font-size: 19px;
    }

    .sub-claim-slide small{
        font-size: 14px;
    }
}

div.right-menu {
    display: none;
}
    
a:hover + div.right-menu {
    display: inline-block;
}

.woocommerce div.product form.cart .reset_variations {
	display: none !important;
}

/* Image Hover */
#disc-paint img {
	width: 100%;
}

.overlay {
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;  
	mix-blend-mode: multiply;
	overflow: hidden;
	width: 100%;
	height: 60px;
	transition: .5s ease;	
  }

  .flex-container .overlay {
	  height: 60px;
  }
  
  .overlay-green {
	  background-color: rgba(118,157,145,1);
  }
  
  .overlay-black {
	  background-color: rgba(0,0,0,.8);
  }
  
  .arrowarrow {
	display:none;
  }

  .container {
	  position: relative;
  }
  
  .container:hover .overlay {
	bottom: 0;
	height: 100%;	
  }
  
  .container:hover .arrowarrow {
	display: block;
	transition: .5s ease;
  }
  
  .container:hover .text {
	top: 50%;
	left: 50%;
	transition: .5s ease;
  }

  .flex-container .container:hover .text {
	top: 50%;
	left: 50%;
	transition: .5s ease;
  }
  
.container .text {

	color: white;	
	font-size: 30px;
	line-height: 36px;
	position: absolute;
	top: 30px;
	left: 50%;
	width: 90%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;	
	display:block;
	transition: .5s ease;
  }

  .flex-container .container .text {
	color: white;	
	font-size: 22px;
	line-height: 28px;
	position: absolute;
	top: 30px;
	left: 50%;
	width: 90%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;	
	display:block;
	transition: .5s ease;	 
  }

@media only screen and (max-width:1320px) {
	.container .text {
    	font-size: 22px;
		line-height: 28px;
	}
}

@media only screen and (max-width:768px) {
	.container:hover .overlay {
		height: 60px;
		top: 0px;	
	  }
	  
	  .container:hover .arrowarrow {
		display: none;
	  }
	  
	  .container:hover .text {
		top: 30px;
	  }

	}
  
.no-ul ul {
	display: none;
}

/* Hover sui prodotti */

.flex-container {
	font-family: "Graphik Semibold";
	display:flex;
	flex-wrap: wrap;
	flex-flow: row wrap;
  }
  
  .flex-container div.container {   
	width: 33%;  
	text-align: center;  
  }
  
  .flex-container > div:nth-of-type(2),
  .flex-container > div:nth-of-type(3){
	margin-left:.5%;
  }
   
  .flex-container img {
	width: 100%; 
	height: auto;
  } 
  

/* Menu in alto a destra */

#green-corner,#green-corner-mo {
	position: absolute;
	right: 0;
	top: 0;
	height: 86px;
	width: 310px;
}

#green-corner-mo {
	right: 0;
	top: 0;
	height: 67px;
	width: 127px;
}

.an-black {
	background-color: #000;
}

.an-green {
	background-color: #769D91;
}

.an-drop {
	cursor: pointer;	
}

.an-drop i {
	color: #fff;
	margin-left: 250px;
	margin-top: -30px;
	float: left;
}

.an-drop-mo i {
	color: #fff;
	margin-left: 90px;
	margin-top: -25px;
	float: left;
}

#fa-up,#fa-up-mo {
	display: none;
}

.an-drop div, .an-drop-mo div {
	font-size: 18px;
	line-height: 24px;
	font-weight: 900;
	color: #fff;
	text-align: right;
	display: block;
	margin-right: 90px;
	margin-top: 20px;
	cursor: pointer;
}

.an-drop-mo div{
	margin-top: 10px;
	margin-right: 25px;
	font-size: 10px;
	line-height: 16px;

}

#an-dropdown,#an-dropdown-mo {
	padding: 10px;
	width: 305px;
	height: 70px;
	margin-left: 5px;
	margin-top: 18px;
	display: none;	
}

#an-dropdown-mo {
	margin-top: 14px;
	width: 127px;
	margin-left: -10px;
}

#an-dropdown a,#an-dropdown-mo a {
	font-size: 18px;
	line-height: 24px;
	font-weight: 900;
	width: 305px;
	color: #fff;
	text-align: left;
	padding: 0px 0px 0px 15px;
	margin-top: 10px;
	display: block;
}

#an-dropdown-mo a {
	font-size: 10px;
	line-height: 16px;
	width: 127px;
	padding: 5px 0;
}

.an-dropdown-show {
	margin-top: 18px;
	display: block;
}

.an-dropdown-show-mo {
	margin-top: 18px;
	display: block;
}

.wpml-ls-legacy-list-horizontal{
	padding: 0 !important;
	text-align: right;
}

.wpml-ls-legacy-list-horizontal a {
	font-family: "Graphik Semibold";
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #000;	
}

.wpml-ls-current-language a {
	text-decoration: underline !important;	
}


.page-id-247 .woocommerce-Price-amount.amount {
	font-family: "Graphik Semibold";
	font-size: 22px;
	line-height: 28px;
}

.page-id-247 span.price {
	font-size: 18px !important;
}

.uael-woo-skin-grid-default .uael-flash-container {
	top: initial;
    left: 20px;
    bottom: 0;
    margin-top: 25px;    
}

/* Carosello prodotti */
.uael-woo-products-slider ul.slick-dots {
	bottom: 35px;
}

/* Modal popup */
.uael-close-custom-popup-edge-top-right {
	top: 1em;
	right: 1em;
}

/* Varie */

.elementor-post__read-more {
	background: #FFE000;
	width: 180px;
	height: 60px;
	display: inline-block;
	line-height: 1;
	text-align: center;
	color: #000 !important;
	padding: 20px 20px;
	font-size: 22px !important;
	font-weight: 600 !important;
}

@media screen and (max-width: 768px) {

	.elementor-post__read-more {
		width: 150px;
		height: 50px;
		line-height: 20px;
		padding: 15px 0px;
		font-size: 14px !important;
		font-weight: 600 !important;
	}

}

.tp-caption a {
	color: #000;
	text-decoration: underline;
}

/* Woocommerce */

/* Bullet nella short description */

.woocommerce-product-details__short-description ul{
    list-style-type: none;	
    column-count: 2;
	margin: 0;
}

@media screen and (max-width: 768px) {
	.woocommerce-product-details__short-description ul{
		column-count: 1;
	}
}

.woocommerce-product-details__short-description ul li:before {
    content: "";
    margin-right: 10px;
    font-weight: bold;
    background-color: #769D91;
    width: 14px;
    font-size: 60px;
    height: 14px;
    display: inline-block;
    border-radius: 50%;
}

.woocommerce-product-details__short-description ul li {
	font-size: 18px;
	line-height: 2;
	
}

table.variations label {
	display: none;
}

.variations select {
	background-color: black;
	color: #000;
	font-weight: 300;
	width: 50%;
	-webkit-border-radius: 0;
	border: 0; 
	margin-bottom: 0;     
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #f2f2f2 url(https://www.q1tapes.com/wp-content/themes/q1/images/arrow-down.svg) no-repeat 95%;
	border: none;
}

.woocommerce div.product form.cart .variations {
	margin-bottom: 0;
}

.woocommerce div.product form.cart .variations select {
    min-width: 0;
    width: 400px;
    padding-right: 50px;
    max-width:100%;
}

@media screen and (max-width:768px) {
	.woocommerce div.product form.cart .variations select {
		min-width: 100%;
		width: 100%;		
	}

}

.woocommerce div.product.elementor form.cart:not(.grouped_form) {
	display: block;
}

.woocommerce div.product.elementor .quantity .qty {
	background: #f2f2f2;
	border: none;
	padding-top: 8px;
	padding-bottom: 8px;
}

.quantity:before {
	content: "Quantity:";
	vertical-align: -webkit-baseline-middle;
	color: #000;
}

.elementor-widget-jet-woo-products .jet-woo-carousel .jet-slick-dots li span {
	background-color: #fff;
	border: 2px solid #ffe000;
}

.elementor-widget-jet-woo-products .jet-woo-carousel .jet-slick-dots li.slick-active span {
	background-color: #ffe000;
	border: 2px solid #ffe000;
}

.jet-woo-carousel .jet-slick-dots li span {
	height: 12px;
	width: 12px;
}

.elementor-widget-jet-woo-products .jet-woo-carousel .jet-slick-dots li span:hover {
	background: transparent;
}

ins {
	background:transparent;
}

.elementor-nav-menu--dropdown.elementor-nav-menu__container {
	height: calc(100vh);
}

.ee-post {
	border: none;
}


.woocommerce div.product.elementor .woocommerce-tabs .panel {
	border-top: none;
	z-index: 1;
}

.ee-post__metas__list, .ee-post__terms {
	margin-top: -35px;
	z-index: 1;
}

.jet-smart-listing__post:before {
    border-style: solid;
    border-width: 9px 0px 0px 0px;
	border-color: #ffe000;
	content: "11111111111111";
	color: transparent;
	position: absolute;
    top: -10px;
}

table, td, tr {
	border:0;
}

/* Pagine figlie */

.yellow-box {
	max-width: 760px;
	margin:0 auto;
	padding: 60px  50px 60px 0;
	background: #ffe000;
}

@media screen and (max-width: 768px) {

	.yellow-box {		
		padding: 60px  20px;
	}

}

/* Forms */

.powered-by {
	display: none !important;
}

.fc-form-1,
.fc-form-2,
.fc-form-4,
.fc-form-5,
.fc-form-7 {
	border-top: 2px solid #FFE000 !important;
	border-radius: 0px;
	}

.fc-form-1 .form-page-content,
.fc-form-2 .form-page-content,
.fc-form-4 .form-page-content,
.fc-form-5 .form-page-content,
.fc-form-7 .form-page-content {
	color: #000 !important;
	padding: 60px 80px !important;
}

.fc-form button {
	background: #ffe000 !important;
	color: #000 !important;
	padding: 15px 60px !important;
	font-family: Graphik Semibold !important;
	font-size: 22px !important;
} 

.fc-form-3 .field-cover input,
.fc-form-6 .field-cover input {
	font-style: italic;
}

@media screen and (max-width:768px) {

	.fc-form-1 .form-page-content,
	.fc-form-2 .form-page-content,
	.fc-form-4 .form-page-content,
	.fc-form-7 .form-page-content {
		padding: 40px 20px !important;
	}

	.fc-form-1 button,
	.fc-form-2 button,
	.fc-form-3 button,
	.fc-form-4 button,
	.fc-form-6 button,
	.fc-form-7 button {
		padding: 15px 50px !important;
		font-size: 14px !important;
	
	}

}

.fc-form-3 input[type="radio"]:checked ,  .fc-form-3 input[type="checkbox"]:checked, 
.fc-form-6 input[type="radio"]:checked ,  .fc-form-3 input[type="checkbox"]:checked {
	background: #000 !important;
}

.fc-form-3 a,
.fc-form-6 a {
	color: #fff !important;
	text-decoration: underline;	
}

/*Our distributors */

.page-id-117 .elementor-widget-image-box .elementor-image-box-content,
.page-id-127 .elementor-widget-image-box .elementor-image-box-content {
	display: inline-block;
	width: 90%;
}

/* YYTH Popup Cart */

.yith-wacp-main {
	border-top: 6px solid #ffe000;
}

#yith-wacp-popup .yith-wacp-message {
	background-color: #ffe000;
}

#yith-wacp-popup .yith-wacp-content a.button {
	background: #ffe000;
	color: #000;
}

#yith-wacp-popup .yith-wacp-content a.button:hover {
	background: #ffe000;
}

.page-id-42 .jet-blocks-cart__list,
.page-id-45 .jet-blocks-cart__list {
	display: none; /* Nascondiamo il popup nelle pagine cart e checkout */
}


/* Store locator */

#wpsl-stores ul {
	display: flex;
	flex-wrap: wrap;	
	justify-content: space-between;
	max-width: 1400px;
	margin: 0 auto;
}

#wpsl-wrap #wpsl-result-list li {
	width:450px;
	margin-bottom: 60px;
	border-bottom: 0;
	
}

#wpsl-result-list li:before {
	border-style: solid;
  border-width: 9px 0px 0px 0px;
	border-color: #ffe000;
	content: "11111111111111";
	line-height: .1;
	color: transparent;	
	display: inline-block;
}

#wpsl-result-list strong {
	font-family: Graphik Semibold;
	font-size: 22px;
	line-height: 28px;
}

a.wpsl-directions {
	text-decoration: underline;
}

.wpsl-info-window p {
	font-size: 14px;
	line-height: 20px
}

.wpsl-info-window p strong {
	color: #ffe000 ;
	font-family: Graphik Semibold;
	font-size: 18px;
	line-height: 24px;	
}

.wpsl-search {	
	background: transparent;
	width: 410px;
	margin: 0 auto;
	margin-bottom: 60px;
}

input#wpsl-search-input {	
	width:320px
}

@media screen and (max-width:768px) {

	.wpsl-search {
		width: 300px;
	}

	input#wpsl-search-input {	
		width:290px;
		padding: 0;
	}

	.wpsl-search-btn-wrap {
		float: left;
		clear: inherit !important;
	}

	.wpsl-no-filters #wpsl-search-wrap .wpsl-input {
		width: 90% !important;
	}
}

#wpsl-search-wrap {
	border: 1px solid #000;	
}

#wpsl-search-wrap textarea, #wpsl-search-wrap input {
	outline: none;
}

#wpsl-search-input.wpsl-error {
	border: none !important;
}


#wpsl-search-wrap div label {	
	display: none !important;	
}

#wpsl-search-btn, #wpsl-search-wrap #wpsl-radius, #wpsl-search-wrap #wpsl-results, #wpsl-search-wrap .wpsl-input input, #wpsl-search-wrap .wpsl-input label {
	background: transparent;	
}

#wpsl-search-wrap input {
	border: none !important;
	padding: 12px 0 4px 14px;	
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
    opacity: 1; /* Firefox */
}

input#wpsl-search-btn {	
	border: transparent !important;
	box-shadow: none;
	padding: 18px 0;	
	}

#wpsl-search-btn, #wpsl-search-wrap input {	
	border-radius: 0;	
}

@media screen and (max-width:768px) {
	input#wpsl-search-btn {		
		padding: 0 0 12px 0;	
		}
	}	

/* Menu prodotti (non attivo) */

.sub-menu-panel{
    position: absolute;
    /*top: 100%;*/
    left: 0;
    width: 740px;
    max-width: 100%;
    background: #f2f2f2;
}

.sub-menu-panel .padd{
    padding: 30px;
}

.sub-menu-panel ul{
    position: relative;
    padding:0 50% 0 0;
    margin: 0;
}

.sub-menu-panel ul li{
    list-style: none;
}
.sub-menu-panel ul li a{
    display: block;
    padding: 10px 0;
    text-decoration: none;
}

.sub-menu-panel ul li a:hover{
    font-weight: 700;
}

.sub-menu-panel ul li figure{
    position: absolute;
    right: 0;
    left:50%;
    top: 0;
    opacity: 0;
    transition:all 1s ease;
}

.sub-menu-panel ul li figure img{
    max-width: 100%;
}

.sub-menu-panel ul li:hover figure{
    opacity: 1;
}

#my-account-menu .user-profile{
    display: none;
}

#my-account-menu .myaccount-menu li a, #my-account-menu .myaccount-menu:before{
    border-bottom-width: 0;
}

#my-account-menu.position-left .myaccount-menu li a, #my-account-menu.position-left .myaccount-menu:before, #my-account-menu.position-left .myaccount-menu:after, #my-account-menu.position-left .myaccount-menu li.active a, #my-account-menu.position-left .myaccount-menu li.is-active a{
    border-right: 4px solid #e0e0e0;
}

#my-account-menu .myaccount-menu li a{
    padding: 10px;
    border: 0 none;
    font-size: 16px;
    text-transform: none;
}

.woocommerce-Tabs-panel table td, .woocommerce-Tabs-panel table th{
    border-bottom:1px solid #ccc;
}

/* Revolution */

.slider-article-excerpt{
    font-family:"Graphik", sans-serif!important;
}
.slider-article-title, .slider-true-stories{
    font-family: "Graphik Semibold", sans-serif!important;
}
.slider-view-more{
    font-family: "Graphik", sans-serif!important;
}


.woocommerce div.product span.price del{
    display: block;
    font-size: 16px;
    font-family: "Graphik Semibold" !important;
   
}

/* Cart icon */

i.fa-shopping-cart {
    color: transparent;
}

.jet-blocks-cart__icon {
    background: url('https://www.q1tapes.com/wp-content/themes/q1/images/cart.svg') no-repeat 0px 15px;
	
}

/* Tabs in singolo prodotto */

.home-double-block .elementor-widget-container .text{
    font-family: "Graphik Semibold"!important;
}

.woocommerce-tabs.wc-tabs-wrapper ul.wc-tabs {
    max-width: 1180px;
    width: 100%;
    float: none!important;
    margin: 0 auto!important;
    background: #fff;
}

.woocommerce-tabs.wc-tabs-wrapper .wc-tab .tab-editor-container{
    max-width: 1180px;
    width: 100%;
    margin: 0 auto!important;
    min-height: 200px;
}

/* Menu mobile */

i.eicon {
    color: transparent;
}

.elementor-menu-toggle {
    background: url('https://www.q1tapes.com/wp-content/themes/q1/images/hamburger-mobile.svg') no-repeat 0px 12px;
}

/* Hover sui bottoni */

.elementor-widget-button a.elementor-button,
.fc-form button,
.woocommerce button.button,
.elementor-widget-button .elementor-button,
a.elementor-post__read-more {
    transition:all .5s ease!important;
}

a.elementor-post__read-more {
	margin-left: 11px;
}

.elementor-widget-button a.elementor-button:hover,
.fc-form button:hover,
.woocommerce button.button:hover,
.elementor-widget-button .elementor-button:hover,
a.elementor-post__read-more:hover {
    transform: scale(1.16);
	transform-origin: center center;
	z-index: 1000;
}

/* Bottoni download in scheda prodotto automotive */

.woocommerce .button-automotive {
    background-color: #f2f2f2;
    color: #8c8c8c;
    padding: 20px 60px 20px 80px;
    font-family: graphik Semibold;
    font-size: 18px;
    line-height: 24px;
    display: inline-block;
    margin: 0 auto 20px;
    width:48%;
    position: relative;
}

.woocommerce .button-automotive:before {
    background: url("https://www.q1tapes.com/wp-content/themes/q1/images/download-black.svg") no-repeat center center transparent;
    display: block;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 5px;
    top: 5px;
    content:'';
    opacity: .8;
    transition:all .5s ease;
}

@media screen and (max-width: 768px) {

    .woocommerce .button-automotive {
        width: 49%;
        font-size: 14px;
        line-height: 20px;
        padding: 12px 5px 12px 35px;
        text-align: center;
    }
    .woocommerce .button-automotive:before {
        left: 0;
        top: 0;
    }
}
.woocommerce .button-automotive {
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #f2f2f2 50%, #ffe000 50%);
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s;
}

.woocommerce .button-automotive:hover:before {
    opacity: 1;
}

.woocommerce .button-automotive:hover {
    background-position: -100% 0;
    color:#000;
}

.woocommerce div.product form.cart .button.single_add_to_cart_button {
    padding: 16px 40px;
}

@media (max-width:767px){
    .woocommerce div.product form.cart .button.single_add_to_cart_button {
        padding: 11px 40px;
    }
}

.woocommerce div.product form.cart div.quantity {
    line-height: 230%;
}

.price small.woocommerce-price-suffix {
    font-weight: 500;
    font-family: 'Graphik'!important;
}

.uael-woo-products-slider ul.slick-dots li {
    width: auto;
    margin: 5px;
}

/* Dots su product slider uael */

.uael-woo-products-slider ul.slick-dots li button{
    width: 12px;
    height: 12px;
    background: transparent;
    border: 2px solid rgb(255, 224, 0);
    border-radius: 50%;
    cursor: pointer;
    box-sizing: content-box;
    transform: none!important;
    padding: 0;
}

.uael-woo-products-slider ul.slick-dots li button:before{
    display: none;
}

.uael-woo-products-slider ul.slick-dots li.slick-active button{
    background: rgb(255, 224, 0);
}

del .woocommerce-Price-amount.amount:after {
	margin-left: 5px;
	content: "(exc VAT)";
}

.woocommerce div.product.elementor form.cart.variations_form .woocommerce-variation-add-to-cart, .woocommerce div.product.elementor form.cart:not(.grouped_form):not(.variations_form) {
	display: inline-flex;
}

.uael-woo-products-summary-wrap .woocommerce-Price-amount.amount:after {
	content: " (EXC. VAT)";
}

.woocommerce-variation-price {
	font-family: Graphik !important;
}

.price small.woocommerce-price-suffix {
	font-weight: 500;
	font-family: Graphik regular !important;
}