<?php

    //sicurezza anti hacker: blocca l'edit dei php dall'amministrazione
    define('DISALLOW_FILE_EDIT', true);
    /** autosalvataggio dopo 2 minuti*/
    define( 'AUTOSAVE_INTERVAL', 120 );
    /** massimo numero di versioni*/
    define( 'WP_POST_REVISIONS', 3 );
    /** domain cookie*/
    define( 'COOKIE_DOMAIN', '<%= parameters['cookie_dominio'] %>' );
    /** disabilita il multisite*/
    define( 'WP_ALLOW_MULTISITE', false );
    /** redirige in caso di blog inesistente */
    define( 'NOBLOGREDIRECT', '<%= wp_siteurl %>/wordpress' );
 
    define( 'WP_CACHE', false );
    
    define( 'ALLOW_UNFILTERED_UPLOADS', true );
  
    /**
     * Per gli sviluppatori: modalita' di debug di WordPress.
     *
     * Modificare questa voce a TRUE per abilitare la visualizzazione degli avvisi
     * durante lo sviluppo.
     * E' fortemente raccomandato agli svilupaptori di temi e plugin di utilizare
     * WP_DEBUG all'interno dei loro ambienti di sviluppo.
     */
    define('WP_DEBUG', <%= parameters['debug']['wp_debug'] %>);
    define( 'WP_DEBUG_LOG', <%= parameters['debug']['wp_debug_log'] %> );
    define( 'WP_DEBUG_DISPLAY', <%= parameters['debug']['wp_debug_display'] %> );
    /** per decomprimere i css e js */
//    define( 'SCRIPT_DEBUG', true );
    /** disabilita la concatenazione */
//    define( 'CONCATENATE_SCRIPTS', false );
    define( 'SAVEQUERIES', true );
    /** salva le query per debug: nel footer del tema aggiungere
    <?php
    if ( current_user_can( 'administrator' ) ) {
        global $wpdb;
        echo "<pre>";
        print_r( $wpdb->queries );
        echo "</pre>";
    }
    ?>
    */    
    
    /** JWPlayer */
	define('API_KEY', 'ZYi6ffr4');
	define('API_SECRET', 'HmZ3Vew9Cjo5Rl1jqKYJcSXm');

    define('DB_NAME', '<%= database['database'] %>');
    define('DB_USER', '<%= database['username'] %>');
    define('DB_PASSWORD', '<%= database['password'] %>');
    define('DB_HOST', '<%= database['host'] %>');
    define('DB_CHARSET', 'utf8');
    define('DB_COLLATE', '');
    define('WPLANG', 'it_IT');

    $table_prefix  = 'wp_';

    define('AUTH_KEY',         'r_Tx8Lxp_C%@76dB<N(lyDVV&],^)!L^^Dk5fBCaxFZvQy|]Zo5&L5~*](0i6`>?');
    define('SECURE_AUTH_KEY',  'V`B{18}Q~y8B}Ltml-QNgk3p6j@vAVctyeyxv?_0dIev-6Q)%:MChG{Ri%r2/azP');
    define('LOGGED_IN_KEY',    'Hq$>e(-^(Rc3D[=Z(@DzrQFzJUd1*O.[j|X,eFAg2![Ga<;/cdvc`N6-iiki-,~?');
    define('NONCE_KEY',        '2*?SY=+a8?4+EhzV|j]I@xDY8K.@4r%}:LTl-&;eFXtB([bdu#,q/pIeaEGr}#^R');
    define('AUTH_SALT',        ':|EDSIC|E^#=+#U|[@ubV}P` C8%4DCqwJO#mngif1M9G-Htx?EQ7|{{R=$P&5BI');
    define('SECURE_AUTH_SALT', 'uosTl}wy+wnkwzA]onx+Y026BG906_.028BEZw8w$~C1!]W+_c;r#0cN*TUZ?u$#');
    define('LOGGED_IN_SALT',   'Cf+)=j.7Hr?yKKlD$<Xy52U!6WYSC^T-V<pyg3b[[Rx[RuY!}bLYv<v+8NI8&+}#');
    define('NONCE_SALT',       'LC Ke1O-%_2Pt8To+-kDHDO.CI3P+g}KM-9H^g0Er?#H}tKc?a_+3E;,/,c`]a2@');

    define('COOKIE_DOMINIO', '<%= parameters['cookie_dominio'] %>'); //valorizzare con il dominio corretto
    define('DOMINIO_SITO', '<%= parameters['dominio_sito'] %>');
    define('DOMINIO_SITO_ERROR', '<%= parameters['dominio_sito_error'] %>'); //valorizzare con il dominio corretto
    define('COOKIE_NAME', 'amerg_cookie'); //authentication cookie
    define('COOKIE_NAME_WE', 'amergWE'); //authentication cookie
    define('COOKIE_SEPARATOR', '*');
    define('CONNECT_URL', '<%= parameters['connect_url'] %>');
    define('CONNECT_URL_GETPROFILE', CONNECT_URL . '/app/register/profile/getProfile');
    define('CONNECT_URL_LOGIN', CONNECT_URL . '/app/register/profile/login');
    define('CONNECT_URL_LOGOUT', CONNECT_URL . '/app/register/authorized/logout');
    define('CONNECT_URL_ISUSERSUBSCRIBE', CONNECT_URL . '/rest/isUserSubscribeToContext');
    define('CONNECT_IDAREA', '<%= parameters['connect_idarea'] %>'); //valorizzare con il codice Id Area
    define('CONNECT_AREA', '<%= parameters['connect_area'] %>'); //valorizzare con il codice Area Connect
    define('CONNECT_APPLICAZIONE', '<%= parameters['connect_applicazione'] %>'); //valorizzare con il codice Applicazione Connect
    define('CONNECT_LANGUAGE', 'it');
    define('CONNECT_COUNTRY', 'IT');
    define('CONNECT_CRC', 'Apw0qQVZeF0xZPOzDCUThQhfm7fwvWFZAnV0B6IqWlF61c0cvgtfc7mbJk7OaihX'); //valorizzare con il codice CRC Connect
/*  
    define('DOMINIO_EZ', '<%= parameters['dominio_ez'] %>');
    define('DB_EZ_USER', '<%= parameters['db_ez_user'] %>');
    define('DB_EZ_PASSWORD', '<%= parameters['db_ez_password'] %>');
    define('DB_EZ_HOST', '<%= parameters['db_ez_host'] %>');
    define('DB_EZ_DATABASE', '<%= parameters['db_ez_database'] %>');
*/
    define('WP_HOME','<%= wp_siteurl %>');
    define('WP_SITEURL','<%= wp_siteurl %>/wordpress');
    define('WP_CONTENT_URL', '<%= wp_siteurl %>/content');

    /**
    Depending on your server configuration, you may find WordPress fails to find your content (themes and plugins).
    This is due to how your server returns `$_SERVER['DOCUMENT_ROOT']`. If this issue affects you, try swapping
    for the `dirname(__FILE__)` method below.
    */

    define('WP_CONTENT_DIR', realpath(<%= parameters['wp_content_dir'] %>));

    if ( !defined('ABSPATH') ){
        define('ABSPATH', dirname(__FILE__) . '/');
    }

    require_once(ABSPATH . 'wp-settings.php');
